# Build
target/
*.node

# Log
*.log

# Bench
.criterion

# Dependencies
node_modules/

# IDE & Editors
.idea
.vscode

# Misc
.DS_Store

# Tauri
gui/src-tauri/target/
gui/src-tauri/Cargo.lock
gui/src-tauri/gen/

# Node
gui/node_modules/
gui/dist/
gui/.svelte-kit/
